{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">BIASHARA HUB</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        Welcome to the Biashara Hub app. We connect customers to businesses by allowing existing and potential customers to view and review companys' profiles. 
        
      </div>
        <P><form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
        </form></P>

        <p>Not a member?Sign up</p>
        
        <form action="/signup" method="POST">
        <input type="submit" value="Sign Up ">
        </form>
    </div>
  </div>
{% endblock %}

